*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 200;
}

body{
    margin: 0;
}

.header{
    position: relative;
    height: 80vh;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    background-color: white;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../resources/img/Galveston\ my\ love.jpg);
}

.header .container{
    position: relative;
    height: 100%;
}

.header .header-content{
    padding: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
}

.header-title{
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: white;
}

.header .header-content .header-subtitle{
    font-weight: 200;
    font-size: calc(20px +(45 - 20)*((100vw - 300px) /(1600 - 300)));
}

.header .header-content .header-sub-subtitle{
    letter-spacing: 5px;
    font-weight: 500;
    font-size: calc(12px +(19 - 12)*((100vw - 300px) /(1600 - 300)));
    margin-bottom: 40px;
}

.social-media-home{
    padding-top: 15px;
    list-style-type: none;
    padding-left: 20;
    display: flex;
    justify-content: space-between;
    max-width: 250px;
}

/* ----------------- BARRA DE NAVEGACION -----------------*/

.navbar{
    position: sticky;
    top:0;
    z-index: 4;
    background-color: #f6f6f6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-menu{
    display: flex;
    list-style-type: none;
}

.nav-link{
    text-decoration: none; 
    color: black; /* Color de texo de los enlaces */
    margin: 0 20px;
}


.nav-link:hover{
    text-decoration: none; 
    color: rgb(0, 204, 255); /* Color de texo de los enlaces */
}

.nav-bar-photo {
    position: absolute;
    margin: 0;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    box-shadow: none;
}

@media (max-width:  1212px) {
    .nav-bar-photo {
    transform: translateY(-85%);
    }
}

@media (max-width:  980px) {
    .nav-bar-photo {
    transform: translateY(-90%);
    }
}

.nav-select {
    display: none; /* Oculto en pantallas grandes */
    padding: 10px;
    font-size: 1rem;
}

@media (max-width:  720px) {

    .nav-bar-photo {
        transform: translateY(-70%);
    }

    .navbar-menu {
        display: none;
    }

    .nav-select {
        display: block;
        width: 100%;
    }
}

.nav-bar-photo img {
    width: 200px; 
    height: auto; 
    border-radius: 50%;
    border: 5px solid rgb(110, 104, 104);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);

}

/* ----------------- SECCION DE ABOUT -----------------*/
#about-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.about-card {
    flex: 300px;
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilos de texto */
.about-card h3 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: left;
}

.about-card h5 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

.about-card p {
    margin-bottom: 16px;
    text-align: left;
    opacity: 0.6;
    font-weight: 400;
}

.about-card li{
    list-style-type: none;
    font-weight: 500;
}

.about-card span{
    opacity: 0.6;
    font-weight: 400;
}

/* ----------------- SECCION DE ABOUT -----------------*/

main{
    background-color: rgb(181, 236, 243);
    background-image: url('../resources/img/main-border-top.PNG'), url('../resources/img/main-border-bottom.png');;
    background-repeat: repeat-x, repeat-x ;
    background-position: top, bottom;
    background-size: auto 3%; 
    padding-top: 60px; /* Añadir espacio para evitar que el contenido tape la imagen de borde superior */
}


.info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h2{
    font-weight: bold;
}


.subtitle{

    color: rgb(107, 114, 0.89);
}

/* SECCION PERSONALIZADA XD */

#experiencia-section {
    position: relative;
    height: 2358px;
}

section{
    position: absolute;
    border: 22px solid transparent;
    border-image: url(../resources/img/mario3-1.PNG) 65 round; /* Ajusta la URL a la ruta de tu imagen */

    padding-left: 1.2%;
    padding-right: 1.2%;

    border-radius: 5px;         
    box-shadow: 10px 10px 0px 0px black;
}

#experiencia-card{
    border-image: url(../resources/img/mario3-1.PNG) 65 round;
    background-color: #FCB5A8;   
    top: 50px;
    left: 20px;
    width: 70%;
    z-index: 0;
}

#educacion-card{
    border-image: url(../resources/img/mario3-4.PNG) 65 round;
    background-color: #ffffff;   
    top: 400px;
    left: 150px; 
    width:fit-content;
    padding-bottom: 1000px;
    z-index: 0;
}

#habilidades-card{
    border-image: url(../resources/img/mario3-3.PNG) 65 round;
    background-color: rgb(159, 225, 252);
    top: 750px;
    left: 100px;

    width: 70%;

    padding-bottom: 1000px;

    z-index: 1;
}

#proyectos-card{
    border-image: url(../resources/img/mario3-2.PNG) 65 round;
    background-color: rgb(65, 216, 61);
    padding-bottom: 100px;
    top: 1150px;
    z-index: 2;
    padding-bottom: 1000px;
    position: relative;
}

/* BARRA DE PROGRESO */

/* Estilos para alinear el icono, el texto y la barra */
.skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.skill-icon {
    font-size: 40px;
}

.skill-item h6 {
    margin: 0;
    flex-shrink: 0; /* Evita que el texto cambie de tamaño en pantalla pequeña */
}

.progress {
    flex-grow: 1; /* Permite que la barra ocupe el espacio restante */
    background-color: #e9ecef;
    border-radius: 5px;
    height: 20px;
    overflow: hidden;
    border: 2px solid #333;
}

.progress-bar {
    height: 100%;
    color: white;
    text-align: center;
    background-color: #dc3545;
    transition: width 0.6s ease;
    border-radius: 0px;
}

/* ---------------- Datos de actividad -------------*/
.section-xd {
    position: relative;

    border: none;
    box-shadow: none;
    border-radius: 0;

    background-color: #2c2f33;

    text-align: center;

    padding: 40px 0;
}

.section-xd .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-xd .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.icon-container {
    color: #ffffff;
    border-right: 1px solid #555555;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container i {
    font-size: 2.5rem;
}

.column {
    padding: 15px;
}

.number {
    color: #e74c3c;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.description {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 768px) {
    .section-xd .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ---------------- Servicios -------------*/

.section-servicio {
    position: relative;

    border: none;
    box-shadow: none;
    border-radius: 0;

    background-color: #ffffff;

    text-align: center;

    padding: 40px 0;
}

.section-servicio h2 {
    color: #e74c3c; /* Color rosa */
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
}

.section-servicio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-servicio .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: left;
    background-color: #fff;
}

.card-header.has-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card-header.has-icon i {
    font-size: 2rem;
    color: #e74c3c; /* Color rosa */
}

.card-body {
    padding: 20px;
}

.card-body .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #333;
}

.card-body .subtitle {
    font-size: 0.9rem;
    color: #555;
}

/* Media query para diseño responsivo */
@media (max-width: 768px) {
    .section-servicio .row {
        flex-direction: column;
        align-items: center;
    }
}

/* ---------------- contratame -------------*/

.section-contratame {
    position: relative;

    border: none;
    box-shadow: none;
    border-radius: 0;

    background-color: #2c2f33;

    text-align: center;

    padding: 40px 0;
}

.section-contratame h2{
    color: #ffffff;
}

.btn {
    font-weight: 400;
    color: #212529;
    text-align: center;
    font-weight: bold;
    background-color: #e74c3c;
    border: 1px solid transparent;
    padding: 0.375rem 0.375rem;
    font-size: 1rem;
    border-radius: 6px;
}

.btn:hover{
    background-color: #e76051;
}

/* ---------------- seccion portafolio -------------*/

.section-portafolio{
    position: relative;

    border: none;
    box-shadow: none;
    border-radius: 0;

    background-color: #ffffff;

    text-align: center;

    padding: 40px;
}

.blog-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    border: 1px solid #dee2e6;
    margin-bottom: 30px;
    overflow: hidden;
    margin: 0 15px 30px;
  }
  
  .blog-card .img-holder {
    min-width: 350px;
    max-width: 350px;
  }
  
  .blog-card .img-holder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .blog-card .content-holder {
    padding: 30px 20px 30px 30px;
  }
  
  .blog-card .content-holder .title {
    font-weight: 500;
    font-size: 25px;
    opacity: .8;
  }
  
  .blog-card .content-holder .post-details {
    margin: 15px 0 15px !important;
  }
  
  .blog-card .content-holder .post-details i {
    display: inline-block;
    width: 15px;
  }
  
  .blog-card .content-holder .post-details a {
    margin-right: 10px;
    color: #444;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    opacity: .7;
    font-size: 13px;
  }
  
  .blog-card .content-holder .read-more {
    text-decoration: none;
    margin-top: 20px;
    display: block;
    font-size: 13px;
  }
  
  .blog-card .content-holder .read-more i {
    position: relative;
    top: 1px;
  }
  
  @media (max-width: 991.98px) {
    .blog-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .blog-card .img-holder {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }

/* ---------------- contactame -------------*/
.section-contactame {
    position: relative;

    border: none;
    box-shadow: none;
    border-radius: 0;

    background-color: #ffffff;

    text-align: center;

    padding: 40px;
}



.section-portafolio{

}

/* ---------------- pie de página -------------*/
footer {

    border: none;
    box-shadow: none;
    border-radius: 0;

    background-color: #2c2f33;

    text-align: center;

    padding: 40px 0;
}

/* ---------------- HTML adicipnal arreglos finales -------------*/
html {
    overflow-x: hidden; /*No desliza miento vertical */
}